.git/
.vscode/
.claude/
__pycache__/
cache/
doc/
logs/
README.md
rubbish/
test/
backend/.claude/
backend/database/
backend/.git/
backend/.vscode/
backend/__pycache__/
backend/work_dir/
backend/cache/
backend/static/
backend/config/config.ini
backend/doc/
backend/media/
backend/models/
backend/.dockerignore/
backend/Dockerfile/
backend/videos_url.json/
backend/.gitignore/
backend/.gitattributes/
backend/miaowu.txt
backend/videos.backup.db
backend/videos_url.json
backend/videos.db
backend/CLAUDE.local.md
backend/CLAUDE.md

frontend/node_modules/
frontend/.git/
frontend/dist/
*.log
*.tmp