.git/
.vscode/
.claude/
__pycache__/
cache/
doc/
logs/
README.md
rubbish/
test/
backend/.claude/
backend/database/
backend/.git/
backend/.vscode/
backend/__pycache__/
backend/work_dir/
backend/cache/
backend/static/
backend/config/config.ini
backend/doc/
backend/media/
backend/models/
backend/asr_utils/glm-asr-stack/runtime/work_dir/
backend/asr_utils/*/runtime/work_dir/
backend/vid_under/db/
backend/vid_under/output/
backend/vid_under/onnx/
backend/vid_under/models/
backend/vid_under/glm-ocr-onnx
backend/vid_under/__pycache__/
backend/*.webm
backend/*.mp4
backend/*.mkv
backend/*.m4a
backend/*.wav
backend/*.opus
backend/*.aac
backend/.dockerignore/
backend/Dockerfile/
backend/videos_url.json/
backend/.gitignore/
backend/.gitattributes/
backend/miaowu.txt
backend/videos.backup.db
backend/videos_url.json
backend/CLAUDE.local.md
backend/CLAUDE.md

frontend/node_modules/
frontend/.git/
frontend/dist/
*.log
*.tmp